.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header-wrapper span {
  padding-right: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid gray;
  padding: 10px;
  background-color: #ccc;
}
.login > button {
  width: 50%;
}

.error {
  color: red;
}
