.rbl1 {
  color: #ff6b6b !important;
}

.rbl2 {
  color: #ffa94d !important;
}

.rbl3 {
  color: #ffd43b !important;
}

.rbl4 {
  color: #69db7c !important;
}

.rbl5 {
  color: #66d9e8 !important;
}

.rbl6 {
  color: #748ffc !important;
}

.rbl7 {
  color: #b197fc !important;
}

.rbl8 {
  color: #f783ac !important;
}
